* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/banner-bg.jpg);
    background-color: #000000;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 1;
    padding-top: 40px;
    padding-bottom: 217px;
}

.header::after {
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    background-color: #000000;
    z-index: -1;
    opacity: 0.6;
}

.header-logo-menu {
    display: flex;
    max-width: 1200px;
    vertical-align: middle;
    justify-content: space-between;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;

}

.header-logo {
    display: block;
    width: 179px;
    margin-left: 30px;
}

.header-menu {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.menu__button {
    display: none;
}

.menu__button {
    width: 1.4em;
    height: 1em;
    border: none;
    padding: 0;
    background-color: transparent;
    font-size: 25px;
    position: relative;
    text-indent: -9999px;
    cursor: pointer;
}

.menu__button:before {
    content: "";
    width: 100%;
    height: 20%;
    border-radius: 5px;
    background-color: #ffffff;
    position: absolute;
    left: 0;
    top: 0;
}

.menu__button-label {
    width: 100%;
    height: 20%;
    margin-top: -0.1em;
    border-radius: 5px;
    background-color: #ffffff;
    position: absolute;
    left: 0;
    top: 50%;
}

.menu__button:after {
    content: "";
    width: 100%;
    height: 20%;
    border-radius: 5px;
    background-color: #ffffff;
    position: absolute;
    left: 0;
    bottom: 0;
}


.header-menu-list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.menu-item-list:nth-child(n+1) {
    margin-right: 35px;
}

.menu-item {
    text-decoration: none;
    list-style-type: none;
    font-family: "Open Sans Regular", Arial, sans-serif;
    font-size: 13px;
    color: #ffffff;
    text-transform: uppercase;
}

@font-face {
    font-family: "Open Sans Regular";
    src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff);

}

@font-face {
    font-family: "Open Sans Bold";
    src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Bold.woff);
    font-weight: bold;
}

.header-title {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    text-transform: uppercase;
    font-size: 45px;
    text-align: center;
    color: #ffffff;
    font-family: "Open Sans Bold", Arial, sans-serif;
    margin-top: 197px;
    max-width: 700px;
}

.title-trends {
    position: relative;
    text-align: center;
    padding-bottom: 46px;
    padding-top: 60px;
}

.title-trends-name {
    font-family: "Open Sans Bold", "Arial", sans-serif;
    font-size: 20px;
    color: #0f0d0e;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
}

.title-trends::after {
    content: "";
    position: absolute;
    display: block;
    width: 65px;
    border-bottom: 3px solid;
    color: #e1d9bd;
    margin: auto;
    left: 0;
    right: 0;
    padding-bottom: 15px;
}

.trends-posts-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.trends-post-one {
    background-image: url(../images/trend1.jpg);
    background-repeat: no-repeat;
    background-color: #606260;
    width: 24.25%;
    position: relative;
    background-position: center;
    background-size: cover;
    z-index: 1;
    height: auto;
}

.trends-post-one::after {
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    background-color: #000000;
    z-index: -1;
    opacity: 0.6;
    width: 100%;
}


.trends-post-two {
    background-image: url(../images/trend2.jpg);
    background-repeat: no-repeat;
    background-color: #606260;
    width: 24.25%;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.trends-post-two::after {
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    background-color: #000000;
    z-index: -1;
    opacity: 0.6;
    width: 100%;
}

.trends-post-three {
    background-image: url(../images/trend3.jpg);
    background-repeat: no-repeat;
    background-color: #606260;
    width: 24.25%;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.trends-post-three::after {
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    background-color: #000000;
    z-index: -1;
    opacity: 0.6;
    width: 100%;
}

.trends-post-four {
    background-image: url(../images/trend4.jpg);
    background-repeat: no-repeat;
    background-color: #606260;
    width: 24.25%;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.trends-post-four::after {
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    background-color: #000000;
    z-index: -1;
    opacity: 0.6;
    width: 100%;
}

.container {
    width: 100%;
    position: relative;
}

.content-blog-trend {
    border: #77673d 4px solid;
    padding: 2rem;
    margin: 10rem 1.5rem 1.5rem;
}

.category-post-list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin-bottom: 15px;
}

.post-list {
    text-decoration: none;
    color: #b59f5b;
    font-size: 14px;
    text-transform: uppercase;
    font-family: "Open Sans Bold", "Arial", sans-serif;
    margin-right: 19px;
}

.trends-content-blog {
    color: #ffffff;
    font-size: 20px;
    text-transform: uppercase;
    font-family: "Open Sans Bold", "Arial", sans-serif;
    margin-bottom: 18px;
}

.content-sidebar {
    display: flex;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 64px;
}

.main-content {
    margin-bottom: 65px;
    margin-right: 120px;
}

.post-content {
    display: flex;
    box-sizing: border-box;
}

.post-content:nth-child(n+2) {
    margin-top: 64px;
}

.theme-post {
    margin-left: 30px;
}

.theme-post-list {
    display: flex;
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.post-item-list {
    margin-right: 20px;
}

.post-item {
    text-decoration: none;
    list-style-type: none;
    text-transform: uppercase;
    font-family: "Open Sans Bold", Arial, sans-serif;
    font-size: 14px;
    color: #b59f5b;
    font-weight: bold;
}

.post-name {
    margin-top: 13px;
}

.theme-post-name {
    display: flex;
    text-decoration: none;
    list-style-type: none;
    text-transform: uppercase;
    font-family: "Open Sans Bold", Arial, sans-serif;
    font-size: 20px;
    color: #0f0d0e;
    font-weight: bold;
    line-height: 24px;

}

.post-date {
    display: inline-block;
    color: #888888;
    font-family: "Open Sans Regular", Arial, sans-serif;
    font-size: 12px;
    margin-top: 38px;
}

.author {
    display: inline-block;
    color: #000000;
    font-family: "Open Sans Bold", "Arial", sans-serif;
    font-size: 12px;
    margin-left: 8px;

}

.post-content-blog {
    color: #000000;
    font-size: 15px;
    line-height: 22px;
    margin-top: 38px;
    font-family: "Open Sans Regular", "Arial", sans-serif;
}

.sidebar {
    width: 270px;
}

.name-list {
    position: relative;
    text-align: center;
    padding-bottom: 28px;
}

.name-list-post {
    font-family: "Open Sans Bold", "Arial", sans-serif;
    font-size: 14px;
    color: #0f0d0e;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;

}

.name-list::after {
    content: "";
    position: absolute;
    display: block;
    width: 66px;
    border-bottom: 3px solid;
    color: #e1d9bd;
    margin: auto;
    left: 0;
    right: 0;
    padding-bottom: 15px;
}

.latest-post {
    display: flex;
    margin-top: 20px;
}

.image-latest-post {
    width: 70px;
}

.latest-title {
    display: block;
    margin-left: 15px;
}

.latest-date {
    font-family: "Open Sans Bold", "Arial", sans-serif;
    font-size: 12px;
    color: #757575;
}

.latest-name {
    margin: 0;
    padding: 0;
}

.latest-post-name {
    list-style-type: none;
    font-family: "Open Sans Bold", "Arial", sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
}

.search-info {
    margin-top: 60px;
}

.form-search {
    display: flex;

}

.field {
    position: relative;
    width: 220px;
    height: 50px;
    border: none;
    padding-left: 20px;
    background-color: #f4f7f6;
    color: #797a7a;
    font-family: "Open Sans Bold", "Arial", sans-serif;
    font-size: 13px;
}

.button {
    position: absolute;
    width: 50px;
    height: 50px;
    border: none;
    margin-left: 220px;

}

.button::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/search.svg);
    background-repeat: no-repeat;
    background-color: #b59f5b;
    background-size: 18px;
    background-position: center center;
    top: 0;
    right: 0;
    left: 0;
    button: 0;
}


.name-list-second {
    position: relative;
    text-align: center;
    margin-top: 63px;
    margin-bottom: 24px;
}

.name-list-post-second {
    font-family: "Open Sans Bold", "Arial", sans-serif;
    font-size: 14px;
    color: #0f0d0e;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
}

.name-list-second::after {
    content: "";
    position: absolute;
    display: block;
    width: 66px;
    border-bottom: 3px solid;
    color: #e1d9bd;
    margin: auto;
    left: 0;
    right: 0;
    padding-bottom: 15px;
}

.input-mail {
    margin-top: 24px;
}

.mail-field {
    width: 270px;
    height: 48px;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #f4f7f6;
    color: #797a7a;
    font-family: "Open Sans Bold", "Arial", sans-serif;
    font-size: 13px;
}

.button-mail {
    width: 270px;
    height: 48px;
    margin-top: 18px;
    border: none;
    background-color: #b59f5b;
    font-family: "Open Sans Bold", "Arial", sans-serif;
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
}

.name-list-third {
    position: relative;
    text-align: center;
    margin-top: 63px;
    margin-bottom: 23px;
}

.name-list-post-third {
    font-family: "Open Sans Bold", "Arial", sans-serif;
    font-size: 14px;
    color: #0f0d0e;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
}

.name-list-third::after {
    content: "";
    position: absolute;
    display: block;
    width: 66px;
    border-bottom: 3px solid;
    color: #e1d9bd;
    margin: auto;
    left: 0;
    right: 0;
    padding-bottom: 15px;
}

.tags-list {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    list-style-type: none;
}

.tags {
    display: block;
    margin-top: 25px;
}

.tag {
    display: block;
    border: 3px solid #eeeeee;
    color: #0f0d0e;
    font-family: "Open Sans Bold", "Arial", sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 8px 14px;
}

.tags-list-eng {
    margin-bottom: 7px;
    margin-right: 5px;
}

.name-list-four {
    position: relative;
    text-align: center;
    margin-top: 63px;
    margin-bottom: 25px;
}

.name-list-post-four {
    font-family: "Open Sans Bold", "Arial", sans-serif;
    font-size: 14px;
    color: #0f0d0e;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    font-weight: bold;
}

.name-list-four::after {
    content: "";
    position: absolute;
    display: block;
    width: 66px;
    border-bottom: 3px solid;
    color: #e1d9bd;
    margin: auto;
    left: 0;
    right: 0;
    padding-bottom: 15px;
}

.theme-list {
    list-style-type: none;
    margin-bottom: 40px;
}

.theme {
    position: relative;
    font-family: "Open Sans Bold", "Arial", sans-serif;
    font-size: 14px;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    line-height: 47px;
    display: block;
    border-bottom: 1px solid #eeeeee;
}

.number-theme {
    position: absolute;
    color: #b59f5b;
    font-family: "Open Sans Bold", "Arial", sans-serif;
    font-size: 12px;
    padding-left: 7px;
    vertical-align: sub;
    top: -10px;
}

.title-shop {
    position: relative;
    text-align: center;
    padding-bottom: 46px;
    padding-top: 65px;
}

.title-shop-name {
    font-family: "Open Sans Bold", "Arial", sans-serif;
    font-size: 20px;
    color: #0f0d0e;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
}

.title-shop::after {
    content: "";
    position: absolute;
    display: block;
    width: 65px;
    border-bottom: 3px solid;
    color: #e1d9bd;
    margin: auto;
    left: 0;
    right: 0;
    padding-bottom: 15px;
}

.posts-shop-all {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    justify-content: space-between;

}

.shop-post {
    display: inline-block;
    box-sizing: border-box;
    width: 25%;
    justify-content: space-between;
    position: relative;
}

.shop-post:first-child {
    margin-left: 23px;

}

.shop-post:last-child {
    margin-right: 25px;
}

.content-shop-all {
    outline: 2px solid #b59f5b;
    outline-offset: 2rem;
    align-items: flex-end;
    z-index: 2;
    flex-grow: 1;
    height: 250px;
    padding-left: 15px;
    padding-right: 15px;
}


.post-shop-name {
    padding-top: 24px;
}

.shop-post-name {
    font-size: 20px;
    color: #0f0d0e;
    font-family: "Open Sans Bold", "Arial", sans-serif;
    text-transform: uppercase;
    text-decoration: none;
}

.shop-content-blog {
    margin-top: 17px;
    font-size: 15px;
    color: #0f0d0e;
    font-family: "Open Sans Regular", "Arial", sans-serif;
    line-height: 22px;
}

.shop-text {
    color: #857749;
    font-size: 15px;
    font-family: "Open Sans Regular", "Arial", sans-serif;
    text-decoration: none;
}

.product-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 25px;
}

.product-price_old {
    text-decoration: line-through;
    font-size: 14px;
    font-family: "Open Sans Bold", "Arial", sans-serif;
}

.product-price {
    font-size: 20px;
    font-family: "Open Sans Bold", "Arial", sans-serif;
    line-height: 1;
    display: flex;
}

.product-button {
    border: none;
    background-color: #b59f5b;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 14px;
    font-family: "Open Sans Bold", "Arial", sans-serif;
    padding: 20px 27px;
}


.footer {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 127px;
    padding-top: 65px;
}

.footer-end {
    background-color: #f4f7f6;
    padding-top: 30px;
    padding-bottom: 30px;
}

.footer-social {
    display: flex;
    list-style-type: none;
    justify-content: center;
}

.social-name:nth-child(n+2) {
    margin-left: 30px;
}

.social-ref {
    display: block;
    width: 25px;
    height: 25px;
    background-color: #f4f7f6;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    text-decoration: none;


}

.social-ref-twitter {
    background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/004-twitter.svg);
}

.social-ref-pinterest {
    background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/001-pinterest.svg);
}

.social-ref-facebook {
    background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/002-facebook-logo.svg);
    background-size: 25px;
}

.social-ref-instagram {
    background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/005-instagram.svg);
}

.social-ref-tumblr {
    background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/003-tumblr.svg);
}

.social-text {
    color: #f4f7f6;
    opacity: 0.0;
}

.copyright {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 74px;
    justify-content: center;
    color: #999999;
    font-size: 12px;
    font-family: "Open Sans Bold", "Arial", sans-serif;
}

.popup {
    position: fixed;
    display: flex;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    overflow: hidden;
    left: auto;
    z-index: 1;
}

.popup-content {
    max-width: 393px;
    margin: auto;
    background-color: #ffffff;
    position: relative;
    width: 99%;
}

.popup_name {
    position: relative;
    text-align: center;
    padding-top: 55px;
}

.title-popup-name {
    font-family: "Open Sans Bold", "Arial", sans-serif;
    font-size: 20px;
    color: #0f0d0e;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    font-weight: bold;
}

.popup_name::after {
    content: "";
    position: absolute;
    display: block;
    width: 66px;
    border-bottom: 3px solid;
    color: #e1d9bd;
    margin: auto;
    left: 0;
    right: 0;
    padding-bottom: 15px;
}

.popup-column__one {
    display: flex;
    padding-top: 30px;
    flex-direction: column;
}

.popup-visit-day {
    border: none;
    width: 329px;
    height: 48px;
    background-color: #f4f7f6;
    margin-top: 10px;
    margin-bottom: 30px;
    padding-left: 20px;
    background-image: url(../svg/form-arrows.svg);
    background-repeat: no-repeat;
    background-position: 98% center;
    background-size: 15px;
    padding-right: 15px;
}

.popup-form {
    padding-left: 30px;
    padding-right: 30px;
}

.popup-visit {
    font-size: 13px;
    font-family: "Open Sans Regular", "Arial", sans-serif;
    color: #000000;

}

.popup-column__two {
    margin-bottom: 30px;
}

.popup__two_title {
    font-size: 13px;
    font-family: "Open Sans Regular", "Arial", sans-serif;
    color: #000000;
    display: flex;
    flex-direction: column;
    padding-bottom: 12px;
}

.radio {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    width: 1px;
    height: 1px;
}

.radio-group-text {
    font-size: 13px;
    font-family: "Open Sans Regular", "Arial", sans-serif;
    color: #000000;
}

.radio-group-text::before {
    content: " ";
    display: inline-block;
    background: url(../svg/form-empty-circle.svg) no-repeat center;
    background-size: 17px;
    width: 17px;
    height: 17px;
    vertical-align: middle;
    margin-right: 5px;
}

.radio:checked ~ .radio-group-text::before {
    background-image: url(../svg/form-circle.svg);
}

.popup-offer {
    font-size: 13px;
    font-family: "Open Sans Regular", "Arial", sans-serif;
    color: #000000;
    padding-bottom: 13px;
}

.popup-column__three {
    display: flex;
    flex-direction: column;
    margin-bottom: 26px;
}

.popup-visit-offers {
    width: 330px;
    height: 130px;
    background-color: #f4f7f6;
    border: none;
    padding-left: 20px;
}

.popup-button-one {
    padding-bottom: 54px;
}

.popup__button {
    width: 329px;
    height: 48px;
    background-color: #b59f5b;
    border: none;
    color: #ffffff;
    font-size: 14px;
    font-family: "Open Sans Bold", "Arial", sans-serif;
}

.popup__close {
    width: 1.4em;
    height: 1em;
    font-size: 20px;
    position: absolute;
    top: -1.5em;
    right: 0;
    background-color: transparent;
    border: none;
    padding: 0;
    text-indent: -9999px;
}

.popup__close:before {
    content: "";
    background-color: #ffffff;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    width: 1.4em;
    height: 0.2em;
}

.popup__close:after {
    content: "";
    background-color: #ffffff;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    width: 1.4em;
    height: 0.2em;
}


@media (min-width: 641px) and (max-width: 1199px) {
    html {
        font-size: 87.5%;
    }

    .header {
        background-image: url(../images/banner-bg-tablet.jpg);
        width: 100%
    }

    .header-logo-menu {
        width: 700px;
    }

    .header-title {
        font-size: 4rem;
    }

    .menu__button {
        display: inline-block;
        margin-right: 35px;
    }

    .header-menu-list {
        display: none;
    }

    .trends-post-one, .trends-post-two, .trends-post-three, .trends-post-four {
        display: flex;
        width: 49.50%;
    }

    .trends-post-one, .trends-post-two {
        margin-bottom: 4px;
    }

    .trends-post-one, .trends-post-three {
        margin-right: 4px;
    }

    .main-content {
        margin-right: 35px;

    }

    .post-content {
        flex-direction: column;
        margin-left: 20px;
    }

    .theme-post {
        margin-top: 15px;
        margin-left: 0;
        max-width: 380px;
    }

    .posts-shop-all {
        max-width: 700px;
        margin-right: 15px;
        margin-left: 25px;
    }

    .shop-post:last-child {
        padding-top: 300px;
        padding-left: 30px;
        padding-bottom: 250px;

    }

    .content-shop-all {
        position: absolute;
    }

    .shop-post {
        width: 43%;
    }

}

@media (min-width: 641px) and (max-width: 1199px) and (orientation: landscape) {
    .main-content {
        width: 60%;
        margin-right: 35px;
    }

    .content-sidebar {
        max-width: 750px;
        justify-content: space-between;
    }

    .posts-shop-all {
        margin-left: auto;
        margin-right: auto;
    }

}


@media (max-width: 640px) {
    html {
        font-size: 60%;
    }

    .header {
        background-image: url(../images/banner-mobile.jpg);
        width: 100%;
    }

    .header-logo {
        margin-top: 150px;
        width: 270px;
        margin-left: 30px;

    }

    .header-title {
        width: 275px;
        font-size: 2.6rem;
        margin-top: 40px;
    }

    .menu__button {
        display: inline-block;
        margin-top: -190px;

    }

    .header-logo-menu {
        width: 330px;
    }

    .header-menu-list {
        display: none;
    }

    .trends-post-one, .trends-post-two, .trends-post-three, .trends-post-four {
        width: 100%;
        margin-bottom: 3px;
    }

    .content-sidebar {
        flex-direction: column;
        margin-top: 45px;
        margin-right: 15px;
        margin-left: 15px;
        padding: 0;

    }

    .main-content {
        flex: 1;
        margin-right: auto;
        margin-left: auto;
    }

    .theme-post {
        margin-left: 0;
    }

    .post-image {
        width: 100%;
    }

    .post-content {
        flex-direction: column;
        width: 100%;
    }

    .sidebar {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .search {
        flex: 1;
    }

    .field {
        width: 100%;
    }

    .button {
        position: relative;
        justify-content: flex-end;
        margin-left: unset;
    }

    .mail-field {
        width: 100%;
    }

    .button-mail {
        width: 100%;
    }

    .tags {
        width: 100%;
    }

    .theme::after {
        width: 350px;
    }

    .posts-shop-all {
        flex-direction: column;
        width: 85%;
        align-items: center;
    }

    .image-shop-all {
        display: flex;
        justify-content: center;
    }

    .content-shop-all {
        margin-bottom: 60px;
    }

    .shop-post:last-child {
        margin-right: unset;
    }

    .shop-post:first-child {
        margin-left: unset;
    }

    .shop-post {
        width: 97%;
    }


}
